//SPACING
$spacing: 24px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 20px;
$spacing-xl: 24px;
$spacing-xxl: 32px;
$spacing-xxxl: 64px;

//MEDIA QUERYS
@mixin phoneOnly {
  @media only screen and (max-width: 980px) {
    @content;
  }
}
@mixin desktopOnly {
  @media only screen and (min-width: 981px) {
    @content;
  }
}

//COLORS
$black: #000000;
$white: #ffffff;
$warm-dark: #121212;
$gray-text: #a7a7a7;
$primary: #1cdf63;
$light-gray: #565656;
